html {
    overflow-y: scroll !important;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    display: table;
    width: 100%;
}

.diagram-div {
    padding: 20px;
}

.diagram-div > svg {
    display: block;
    margin: auto;
    width: 100% !important;
    height: 100% !important;
}

.error-typography {
    padding: 30px !important;
}

.bottom-toolbar {
    padding-top: 30px;
    padding-bottom: 30px;
}

.settings-group {
    padding-top: 20px;
    padding-right: 100px;
    float:right;
}

.toolbar-button {
    white-space: nowrap;
}